html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ERIC MEYER'S RESET */
@font-face {
  font-family: "CandalRegular";
  src: url('fonts/Candal-webfont.eot');
  src: url('fonts/Candal-webfont.eot?iefix') format('eot'), url('fonts/Candal-webfont.woff') format('woff'), url('fonts/Candal-webfont.ttf') format('truetype'), url('fonts/Candal-webfont.svg') format('svg');
}

/* Main style starts here  */
body {
  color: #1E1C1C;
  background: #EBE6CF;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  border: 1px solid #E8E3D5;
  width: 640px;
  margin: auto;
  padding: 30px;
  background-color: #EBE7D6;
  -moz-box-shadow: #c4c2ba 0 0 8px;
  -webkit-box-shadow: #c4c2ba 0 0 8px;
  -o-box-shadow: #c4c2ba 0 0 8px;
  box-shadow: #c4c2ba 0 0 8px;
}

header {
  font-size: 30px;
  font-family: 'CandalRegular';
  text-shadow: white 2px 2px 1px;
}

header #introduction {
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: dotted 2px #1E1C1C;
}

header #skills {
  font-size: 20px;
}

#skills span {
  position: relative;
}

#skills .popup {
  display: block;
  position: absolute;
  top: 20px;
  padding: 10px;
  width: 100px;
  height: 60px;
  /*visibility: hidden;*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

header span.name {
  font-size: 54px;
  line-height: 64px;
  display: block;
}

#projects {
  margin-top: 50px;
}

#projects h2 {
  width: 148px;
  font-family: 'CandalRegular';
  font-size: 30px;
  text-align: center;
  text-shadow: white 2px 2px 1px;
  margin: 0 246px 15px;
}

.project {
  margin: 50px 0px;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: dashed 2px;
}

.project:last-child {
  border-bottom: 0;
  margin-bottom: 10px;
}

.project .project_details {
  font-size: 16px;
  margin-bottom: 10px;
}

.project .project_img img {
  width: 600px;
  height: 402px;
  border: 5px solid white;
  margin: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

#footer {
  font-family: 'CandalRegular';
  font-size: 14px;
  text-align: center;
}
